/* reset */

* {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

/* global */

$background-color: #f3f4f6;
$s: 0.25rem;
$icons: #6b7280;

.hidden {
  display: none;
}

.crossed {
  text-decoration: line-through;
  color: $icons;
}

.edit {
  background-color: burlywood;
}

/* body */

body {
  background-color: $background-color;
  height: 1vh;

  #todo-container {
    width: 50%;
    border: 1px solid grey;
    margin: auto;
    margin-top: 5%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.6);

    #todo-header {
      display: flex;
      align-items: center;
      padding: 1 * $s 2 * $s;
      border-bottom: 1px solid grey;

      h1 {
        flex-grow: 1;
        font-size: 1.25rem;
        line-height: 1.75rem;
      }

      span {
        font-size: 1rem;
        line-height: 1rem;
        color: $icons;
      }
    }

    form {
      display: flex;
      align-items: center;
      padding: 1 * $s 2 * $s;
      border-bottom: 1px solid grey;

      #todo-input {
        background-color: $background-color;
        overflow-x: auto;
        flex-grow: 1;
        font-style: italic;
        border: none;

        &:focus {
          outline: none;
        }
      }

      /* stylelint-disable */
      span {
        font-size: 1rem;
        line-height: 1rem;
        color: $icons;
      }
      /* stylelint-enable */
    }

    #button-container {
      display: flex;
      justify-content: center;

      button {
        background-color: #e5e7eb;
        width: 100%;
        border: none;
        color: #4b5563;
        padding: 2 * $s 0;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}

/* Rendered content */

.task-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: $s 2 * $s $s 3 * $s;

  .task-description {
    display: flex;
    align-items: center;
    gap: 2 * $s;
    flex-grow: 1;

    .checkbox:hover {
      box-shadow: 0 0 3px grey;
    }

    .task-label {
      flex-grow: 1;
    }

    .task-input {
      background-color: transparent;
      border: none;
      flex-grow: 1;

      &:focus {
        outline: none;
      }
    }
  }

  .task-icons {
    display: flex;
    align-items: center;
    flex-grow: 0;
    color: $icons;

    /* stylelint-disable */
    span {
      font-size: 1rem;

      &:hover {
        cursor: pointer;
      }
    }
    /* stylelint-enable */
  }
}
